/* import partials */
@import 'reset';
@import 'typography';
@import 'default';

/* variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #333333;
    --text-color:#f8f8f8;
}
